<section class="hero">
  <div class="container row">
    <div class="hero__text">
      <h1 class="hero__title">
        Make <span><br />remote work </span>
      </h1>
      <p>
        Get your team in synch, no matter your location. Streamline processes,
        create teams rituals, and watch productivity sour.
      </p>
      <a href="./" class="hero__btn">Learn more</a>
      <div class="hero__icons">
        <img
          class="hero__icon"
          src="../assets/images/client-databiz.svg"
          alt="databiz"
        />
        <img
          class="hero__icon"
          src="../assets/images/client-audiophile.svg"
          alt="audiophile"
        />
        <img
          class="hero__icon"
          src="../assets/images/client-meet.svg"
          alt="meet"
        />
        <img
          class="hero__icon"
          src="../assets/images/client-maker.svg"
          alt="maker"
        />
      </div>
    </div>
    <div class="hero__image">
      <img
        class="hero__image--mobile"
        src="../assets/images/image-hero-mobile.png"
        alt="hero image"
      />
      <img
        class="hero__image--desktop"
        src="../assets/images/image-hero-desktop.png"
        alt="hero image"
      />
    </div>
  </div>
</section>
